@import "./variable.scss";

.about-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .main {
        width: 2048px;
        height: 965px;
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        box-shadow: 2px -2px 10px rgba($color: #000000, $alpha: 0.5);
        border: 1px solid gray;

        .left-side {
            img {
                height: 965px;
            }
        }

        .right-side {
            p {
                font-size: 40px;
            }

            ul.list-highlight {
                list-style: none;

                li {
                    .circle {
                        margin-right: 1rem;
                    }

                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    font-size: 33px;
                }
            }

            .button-wrapper {
                @include button-wrapper;
                margin-top: 5rem;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.about-wrapper {
    @include breakpoint($large) {
        height: auto;

        .main {
            width: calc(1920px * 0.8);
            height: 700px;

            .left-side {
                img {
                    height: 100%;
                }
            }

            .right-side {
                p {
                    font-size: 30px;
                }

                ul.list-highlight {
                    li {
                        font-size: 25px;
                    }
                }

                .button-wrapper {
                    a {
                        font-size: 25px;
                        padding: 0.6rem 1.8rem;
                    }
                }
            }
        }
    }

    @include breakpoint($x-medium) {
        .main {
            width: calc(1336px * 0.8);
            height: 550px;

            .right-side {
                p {
                    font-size: 25px;
                }

                ul.list-highlight {
                    li {
                        font-size: 20px;
                    }
                }

                .button-wrapper{
                    margin-top: 3rem;
                }
            }
        }
    }

    @include breakpoint($medium) {
        .main {
            width: calc(1024px * 0.9);
            height: 500px;

            .right-side {
                p {
                    font-size: 20px;
                }

                ul.list-highlight {
                    li {
                        font-size: 18px;
                    }
                }

                .button-wrapper {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    @include breakpoint($small) {
        .main {
            width: calc(768px * 0.8);
            flex-direction: column;
            height: auto;
            padding-bottom: 1rem;

            .left-side {
                img {
                    width: 100%;
                }
            }

            .right-side {
                padding: 0 1rem;
            }
        }
    }
    @include breakpoint($x-small) {
        .main {
            width: calc(375px * 0.8);

            .right-side {
                p {
                    font-size: 15px;
                }

                ul.list-highlight {
                    li {
                        font-size: 16px;
                    }
                }

                .button-wrapper {
                    margin-top: 2rem;

                    a {
                        font-size: 15px;
                        padding: 0.4rem 1.4rem;
                    }
                }
            }
        }
    }
}
