@import "./variable.scss";

.navbar-wrapper {
    height: 100px;
    background-color: $primary-color;
    color: $second-color;
    font-family: $primary-font;
    border-radius: 250px 0 250px 0;
    transition: position 1s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rem;

    h1 {
        margin: 0;
        font-size: 60px;
    }

    button.btn-collapse {
        display: none;
        color: $second-color;
        background-color: $primary-color;
        border: none;
        outline: none;
        font-size: 1.5rem;
    }

    a {
        color: white !important;
        text-decoration: none !important;
        cursor: pointer;
    }

    .menu {
        a.item {
            font-size: 1.5rem;
            margin-left: 2rem;
        }
    }
}


//Responsive
.navbar-wrapper{
    @include breakpoint($medium){
        padding: 0 10rem;
    }

    @include breakpoint($small){
        padding: 0 5rem;
        position: relative;
        border-radius: 0;

        button.btn-collapse{
            display: block;
        }

        .menu{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: $primary-color;
            display: flex;
            flex-direction: column;
            padding-left: 5rem;
            padding-bottom: 1rem;
            z-index: -1;
            transition: bottom 0.6s, z-index 0s;
        }
        
        .menu.active{
            bottom: -160px;
            z-index: 1;
            transition: z-index 2s, bottom 0.6s;
        }
    }

    @include breakpoint($x-small){
        padding: 0 2rem;
        height: 70px;

        h1{
            font-size: 35px;
        }

        .menu{
            padding-left: 1.5rem;

            a.item{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}